@page
@model DigitalDiary.Admin.Pages.Auth.LoginModel

@{
    ViewData["Title"] = "Авторизация";
}

<div class="container">
    <div class="row">

        <div class="col-sm-4">
            <form method="post">
                <div class="form-outline mb-2">
                    <input asp-for="Input.Email" class="form-control form-control-lg" aria-required="true"/>
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>

                </div>

                <div class="form-outline mb-4">
                    <input asp-for="Input.Password" class="form-control form-control-lg" autocomplete="current-password" aria-required="true"/>
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <button type="submit" id="login-submit" class="btn btn-primary btn-block mb-4">Войти</button>

            </form>
        </div>

    </div>
</div>