table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
thead tr {
    background-color: #256578;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
.topThL{
    border-top: 0;
    border-right: 1px solid white;
}
.topThF{
    border-top: 0;
    border-left: 1px solid white;
}
.Th{
    border-top: 1px solid white;
    border-left: 1px solid white;
    width: 40px;
}
.Th:hover{
    background: #3276b1;
    cursor: pointer;
}
th,td{
    text-align: center;
    padding: 3px 7px;
}
tbody tr{
    border-bottom: 1px solid #dddddd;
}
td{
    border-right: 1px solid #dddddd;
}
tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
tbody tr:last-of-type {
    border-bottom: 2px solid #256578;
}
.name {
    text-align: left;
}
.n {
    font-size: 0;
}

.dayMark {
    border: 0;
    background-color: rgba(52, 52, 52, 0);
}
.dayMark:disabled{
    background-color: rgba(52, 52, 52, 0);
}

input {
    width: 20px;
}

.app {
    height: 200px;
}

.hw {
    max-height: 170px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: -3%;
}

.textSpace {
    height: 110px;
    max-height: 110px;
    min-height: 110px;
}

.page {
    margin-top: 1em;
    margin-left: 1em;
}

input:disabled {
    background-color: white;
}

/* default button */
.btn-default {
    background-color: #FFF;
    color: #333;
    border-color: #adadad;
    border-radius: 25px;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active    {
    background-color: #ebebeb;
    color: #333;
    border-color: #adadad;
}

/* primary button */
.btn-primary {
    background-color: #256578;
    color: white;
    border-color: #256578;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active    {
    background-color: #3276b1;
    color: #FFF;
    border-color: #285e8e;
}
.test{
    top: 0;
}