.success {
    color: lightskyblue;
    float: right;
    font-size: smaller;
}

.error {
    color: red;
    float: right;
    font-size: smaller;
}

Table {
    table-layout: fixed;
}


.tb {
    padding-inline: 50px;
}

.clip {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}